@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.logo-font {
  font-family: 'Bebas Neue', cursive;
  color: #fc6565;
  letter-spacing: 0.1rem;
}

.logo-font:hover {
  color: #fc6565;
}

.detail-font {
  font-size: 10px;
}

.table-font {
  font-size: 12px;
}

.page-font {
  font-size: 14px;
}

.dropdown-menu-width {
  width: 290px;
}

.carousel-image {
  height: 250px;
  object-fit: cover;
}

.arrow {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.5rem;
  top: 30%;
}

.left-arrow {
  left: 1%;
}

.right-arrow {
  right: 1%;
}

.image-width {
  width: inherit;
}

.album-image {
  object-fit: contain;
}

.musician-image {
  max-height: 20rem;
  overflow: hidden;
}

.a {
  color: #db5e6a;
}
